.labelTitre {
    -fx-background-color: #001d8b;
    -fx-text-fill: gold;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, black, 5, 0.3, 2, 2);
}
.labelAffichage {
    -fx-background-color: #001d8b;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, black, 5, 0.3, 2, 2);
}
.labelMessage {
    -fx-background-color: #a6ddff;
    -fx-text-fill: black; 
    -fx-font-size: 20px;
    -fx-padding: 15px;
    -fx-background-radius: 15;
    -fx-border-color: #00000050;
    -fx-border-width: 1px;
}
